#aboutme {
    background: $grey;

    .container {
        max-width: 600px;
        
        .about_wrapper {
            display: grid;
            grid-gap: 15px;

            align-items: center;
            
            h3, p {
                color: $black;
            }
            
            h3 {
                font-size: 3.2rem;
                text-decoration: underline;

                margin: 10px 0;
            }

            p {
                font-weight: 300;
            }

            p, .link {
                @include until($iphone-7) {
                    text-align: left;
                }
            }
            
            .link {
                margin-bottom: 25px;

                &:hover {
                    color: $black;
                }
            }
        }
    }
}