#about-me {
	text-align: center;

	padding-bottom: 40px;

	@include until($iphone-7) {
		width: 100%;
	}

	.title {
		font-size: 2.5rem;

		margin-top: 20px;

		span {
			color: $red;
		}

		@include until($ipad-pro) {
			font-size: 2.3rem;
		}

		@include until($iphone-7) {
			margin: 0;

			padding-top: 20px;
			padding-bottom: 10px;

			font-size: 1.5rem;
			text-align: center;
		}

		@include until($iphone-5) {
			font-size: 1.5rem;

			margin-top: 40px;
		}
	}

	p {
		margin: 0 5rem;
		margin-bottom: 20px;

		text-align: center;

		&:last-child {
			margin: 0;
		}

		@include until($ipad) {
			margin: 0 2rem;
			margin-bottom: 20px;
		}

		@include until($iphone-7) {
			margin: 0 auto;

			padding: 10px 25px;

			text-align: center;
		}

		a {
			display: inline-block;

			position: relative;

			text-decoration: none;

			color: $black;

			transition: color 200ms;

			&:before {
				content: "";

				position: absolute;
				top: 80%;
				left: 0;
				right: 0;

				height: 2px;

				opacity: 1;
				background-color: currentColor;

				transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}

			&.cornell {
				&:before {
					background-color: $cornell;
				}

				&:hover {
					color: $cornell;
				}
			}

			&.blackbird {
				&:before {
					background-color: $blackbird;
				}

				&:hover {
					color: $blackbird;
				}
			}


			&.mack-media-group {
				&:before {
					background-color: $mack-media-group;
				}

				&:hover {
					color: $mack-media-group;
				}
			}

			&.ibm {
				&:before {
					background-color: $ibm;
				}

				&:hover {
					color: $ibm;
				}
			}
		}
	}

	.btn-wrapper {
		margin-top: 1.3rem;

		.btn {
			display: inline-block;

			margin-right: 20px;

			width: 200px;
			height: 50px;

			text-align: center;

			border: 2px solid;

			line-height: 3;
			text-decoration: none;

			transition: all 150ms ease-in-out;

			&:last-child {
				margin-right: 0;
			}

			@include until($iphone-7) {
				width: 90%;

				margin: 10px auto;
			}
		}

		#resume {
			border-color: $red;
			color: $red;

			&:hover {
				background-color: $red;
				color: $white;
			}
		}

		#twitter {
			border-color: $twitter;
			color: $twitter;

			&:hover {
				background-color: $twitter;
				color: $white;
			}
		}

		#linkedin {
			border-color: $linkedin;
			color: $linkedin;

			&:hover {
				background-color: $linkedin;
				color: $white;
			}
		}
	}
}
