#aboutme {
    background: $grey;

    .container {
        max-width: 600px;
        
        .about_wrapper {
            display: grid;
            grid-gap: 15px;

            align-items: center;
            
            h1, p {
                color: $black;
            }
            
            h1 {
                font-size: 48px;
                text-decoration: underline;

                margin: 10px 0;
            }

            p {
                font-weight: 300;
            }

            p, .link {
                @include until($iphone-7) {
                    text-align: left;
                }
            }

            .link:hover {
                color: $black;
            }
        }
    }
}