#codepen {
    position: relative;
    
    margin-bottom: 3rem;
    
    background: $white;

    color: $black;

    @include until($iphone-7) {
        margin: 0;
    }

    h3 {
        margin: 50px 0;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.8;

        @include until($iphone-7) {
            font-size: 1.1rem;
        }
    }

    ul {
        margin: 0 1.5rem;

        @include until($iphone-7) {
            margin: 0;
        }

        li {
            display: inline-block;
    
            width: 50%;
    
            @include until($ipad) {
                width: 100%;
            }
    
            .cp_embed_wrapper {
                width: 100%;

                margin: 0 auto;

                iframe {
                    height: inherit;
                    min-height: 500px;
                }
            }
        }
    }

    .banner_wrapper > .text_wrapper > h1, .subtitle {
        color: $black;
    }

    .banner_wrapper > .svg-inline--fa {
        color: $black;
    }

    .link {
        color: $red;

        &:hover {
            color: $black;
        }
    }
}