#contact {
	position: relative;

	margin-bottom: 2rem;

	form {
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;

		@include until($iphone-7) {
			width: 90%;
		}

		.button,
		.field-label,
		.input,
		.textarea {
			font-family: $secondary;
			color: var(--color-black);
		}

		.field-label {
			font-weight: 400;
			margin: 0;
			margin-right: 10px;

			flex-grow: 0;

			@include until($iphone-7) {
				margin-right: 0;
				text-align: left;
			}
		}

		.control {
			width: 100%;

			@include until($iphone-7) {
				margin-top: 10px;
			}
		}

		.input,
		.textarea {
			background: transparent;
			border: 5px solid var(--color-black);
			border-radius: 0;

			transition: all 150ms ease-in-out;

			&::-webkit-input-placeholder {
				color: var(--color-black);
			}

			&:-moz-placeholder {
				color: var(--color-black);
			}

			&::-moz-placeholder {
				color: var(--color-black);
			}

			&:-ms-input-placeholder {
				color: var(--color-black);
			}

			&:focus {
				border-color: var(--color-red);
			}
		}

		.field.is-grouped {
			justify-content: flex-end;

			@include until($iphone-7) {
				justify-content: center;
				margin-bottom: 0;
			}

			.control {
				text-align: right;

				@include until($iphone-7) {
					width: 100%;
				}
			}

			.button {
				background: var(--color-red);
				border-radius: 0;
				width: 200px;
				padding: 0;

				color: var(--color-white);

				&:hover {
					color: var(--color-black);
					border: 5px solid var(--color-red);
					background: transparent;
				}

				@include until($iphone-7) {
					width: 100%;
					margin-top: 10px;
				}
			}
		}
	}
}
