#elsewhere {
    position: relative;

    flex-direction: column;

    background: $grey;

    .hero-body {
        padding: 0;
    }

    .title {
        color: $black;
    }

    .title {
        margin-bottom: 0;

        font-family: $secondary;
        font-size: 0.625em;
        color: rgba(10, 10, 10, 0.29);
        text-transform: uppercase;
    }

    .elsewhere-list {
        align-items: center;
        display: flex;
        justify-content: center;

        a {
            display: inline-block;
    
            margin: 2em;
    
			@include size(4rem);
    
            color: rgba($black, 0.75);
    
            transform-origin: center;
            transition-duration: 200ms;
			transition-property: opacity, transform;
			
			@include until($iphone-7) {
				@include size(3.5rem);

				margin: 1.5em;
			}
    
            .svg-inline--fa {
                max-width: 100%;
                max-height: 100%;
                width: auto; 
                height: auto;    
            }
        }

        .is-github:hover {
            color: $github;
            transform: scale(0.86);
        }
    
        .is-twitter:hover {
            color: $twitter;
            transform: scale(0.86);
		}
		
		.is-linkedin:hover {
            color: $linkedin;
            transform: scale(0.86);
        }
    }
}
