#form-success {
    .header {
        font-family: $primary;
        font-size: 64px;
        color: $black;
    
        @include until($iphone-7) {
            font-size: 28px;
        }
    }
    
    .desc {
        font-family: $secondary;
        font-size: 24px;
        color: $black;
    
        margin-top: 25px;
    
        em {
            font-family: $primary;
        }
    
        @include until($iphone-7) {
            font-size: 18px;
        }
    }
}