#github {
	background-color: var(--color-grey);
	color: var(--color-black);

	h3 {
		margin: 25px 0;

		line-height: 1;
	}

	p {
		margin-bottom: 50px;

		font-size: 1.25rem;
		line-height: 1.8;
		color: darken($light-grey, 15);
	}
}
