#github {
    position: relative;
    
    background: $grey;

    .text_wrapper > h1, .subtitle, .svg-inline--fa {
        color: $black;
    }

    .link {
        color: $red;

        &:hover {
            color: $black;
        }
    }
}