#header {
    position: relative;

    background-repeat: repeat;

    .hero-body .container {
        flex-grow: 0;
        max-width: auto;
        width: 100%;

        position: static;
    }

    .title, .subtitle {
        color: $black;
    }

    .title {
        font-family: $primary;
        font-size: 10rem;

        @include until($tablet) {
            font-size: 7rem;
        }

        @include until($mobile) {
            font-size: 3rem;
        }
    }

    .subtitle {
        font-family: $secondary;
        font-size: 2rem;

        @include until($tablet) {
            font-size: 1.8rem;
        }

        @include until($mobile) {
            font-size: 1rem;
        }
    }
}