// n is number of stars required
@function multiple-box-shadow($n) {
    $value: "#{random(2000)}px #{random(2000)}px #212121";
    @for $i from 2 through $n {
      $value: "#{$value}, #{random(2000)}px #{random(2000)}px #212121";
    }
    @return unquote($value);
}
  
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-large: multiple-box-shadow(100);

#header {
    height: 100%;
    position: relative;
    background-color: $white;
    background-size: cover;
    overflow: hidden;

    .particles-js-canvas-el {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -1;
    }

    .hero-body .container {
        flex-grow: 0;
        width: 100%;

        position: static;
    }

    .title, .subtitle {
        color: $black;
    }

    .title {
        font-family: $primary;
        font-size: 7rem;


        @include until($tablet) {
            font-size: 6rem;
        }

        @include until($mobile) {
            font-size: 3rem;
        }
    }

    .subtitle {
        font-family: $secondary;
        font-size: 1.5rem;


        @include until($mobile) {
            font-size: 1rem;
        }
    }
}

@keyframes fly {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50vh);
    }
  }
  