#internships {
    position: relative;
    
    background: $grey;

    .svg-inline--fa {
        color: $black;
    }

    h1, .subtitle, p {
        color: $black;
    }

    .link {
        color: $red;

        &:hover {
            color: $black;
        }
    }
}