#my-expertise {
	ul {
		margin: 50px;
		margin-bottom: 0;

		font-size: 0px;

		@include until(1367px) {
			margin: 0;
			margin-left: 25px;
		}

		@include until($ipad-pro) {
			margin: 0;
		}

		li {
			display: inline-block;

			position: relative;
			overflow: hidden;

			width: 33.3%;
			vertical-align: top;
			zoom: 1;

			font-size: 1rem;
			text-align: center;
			color: $black;

			margin-bottom: 25px;

			@include until($iphone-7) {
				width: 100%;
			}

			.svg-inline--fa {
				font-size: 3rem;

				@include until($iphone-7) {
					font-size: 5rem;
				}
			}

			h3 {
				margin: 1.8rem 0;

				font-family: $secondary;
			}

			p {
				margin: 0 auto;
				width: 90%;

				font-size: 16px;
				font-weight: 100;
				color: $black;

				@include until($ipad-pro-landscape) {
					font-size: $copy-size;
					color: $black;
				}
			}
		}
	}
}
