$border-size: 30px;
#work {

    border-top: $border-size solid $grey;
    border-bottom: $border-size solid $grey;

    ul {
        li {
            display: inline-block;

            position: relative;
            overflow: hidden;

            width: 33.3%;
            vertical-align: top;
            zoom: 1;

            &:focus, &:hover {
                h4 {
                    transform: translateX(0) translateY(0) translateZ(0);
                }

                img {
                    transform: translate(-50%, -50%) scale(0.8);
                }
            }

            @include until($iphone-7) {
                width: 100%;

                &:focus, &:hover {
                    h4 {
                        transform: inherit;
                    }

                    img {
                        transform: inherit;
                    }
                }
            }

            a {
                display: block;

                @include aspect-ratio(16, 10);

                position: relative;

                min-height: 270px;

                text-align: center;

				transform: translateZ(0);

                &:focus {
                    outline: 2px dotted $black;
                    outline-offset: -2px;
                }

                img {
                    display: block;

                    position: absolute;
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);

                    max-width: 50%;

					transition: .5s transform;
                }
            }

            h4 {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;

                padding: 1em;

                font-family: $secondary;
                color: $white;
                background: rgba($black, 0.75);

                line-height: 1.4;

                transform: translateY(100%) translateZ(0);
                transition: .3s transform;
            }
        }
    }
}
