.cpc {
    background: $white;

    .desc_wrapper {
        color: $black;

        h1, p {
            color: $black;
        }

        hr {
            background: $black;
        }
    }
}

.aes {
    background: $blue;

    .technologies_wrapper > ul > li {
        color: $white;
    }
}

.bphong {
    background: $black;

    .desc_wrapper {
        color: $white;

        h1, p {
            color: $white;
        }

        hr {
            background: $white;
        }

        .technologies_wrapper > ul > li {
            color: $white;
        }
    }
}