@font-face {
	font-family: 'Roboto Slab';
	font-display: auto;
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'),
		url('assets/fonts/Roboto-Slab/woff2/RobotoSlab-Thin.woff2') format('woff2'),
		url('assets/fonts/Roboto-Slab/woff2/RobotoSlab-Thin.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
	font-family: 'Roboto Slab';
	font-display: auto;
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
		url('assets/fonts/Roboto-Slab/woff2/RobotoSlab-Light.woff2') format('woff2'),
		url('assets/fonts/Roboto-Slab/woff2/RobotoSlab-Light.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
	font-family: 'Roboto Slab';
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
		url('assets/fonts/Roboto-Slab/woff2/RobotoSlab-Regular.woff2') format('woff2'),
		url('assets/fonts/Roboto-Slab/woff2/RobotoSlab-Regular.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

*::selection {
	background: var(--color-highlight);
	color: var(--color-selection);
}

::-webkit-scrollbar-track {
	background-color: $scrollbar;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: $scrollbar;
}

::-webkit-scrollbar-thumb {
	background-color: $scrollbar-bg;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
	img:-moz-loading {
		visibility: hidden;
	}
}

:root {
	--color-copy: #{$copy};
	--color-highlight: #{$highlight};
	--color-selection: #{$selection};
	--color-grey: #{$grey};
	--color-light-grey: #{$light-grey};
	--color-black: #{$black};
	--color-white: #{$white};
	--color-green: #{$green};
	--color-red: #{$red};
	--color-github: #{$github};
	--color-codepen: #{$codepen};
	--color-twitter: #{$twitter};
	--color-linkedin: #{$linkedin};
	--color-cornell: #{$cornell};
}

* {
	margin: 0;
	padding: 0;
}

html {
	overflow: auto;
	height: auto;

	background: none;
}

body {
	font-family: $primary;
	color: var(--color-copy);
	text-size-adjust: 100%;
	line-height: 1.6em;

	background: var(--color-white);
}
