*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

*::selection {
	background: $highlight;
	color: $selection;
}

::-webkit-scrollbar-track {
	background-color: $scrollbar;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: $scrollbar;
}

::-webkit-scrollbar-thumb {
	background-color: $scrollbar-bg;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
	img:-moz-loading {
		visibility: hidden;
	}
}

* {
	margin: 0;
	padding: 0;
}

html {
	overflow: auto;
	height: auto;

	background: none;
}

body {
	font-family: $primary;
	color: $copy;
	text-size-adjust: 100%;
	line-height: 1.6em;

	background: $white;
}
