$laptop: 1440px;
$iphone-7: 430px;
$ipad-pro-landscape: 1400px;
$ipad-pro: 1024px;
$ipad-landscape: 1024px;
$ipad: 768px;

@mixin until($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}