//-colors
$white: #FAFAFA;
$black: #212121;
$blue: #212856;
$light-blue: #6DBCDB;
$navy: #2c3e50;
$red: #FC4349;
$grey: #F5F5F5; //#F3F3F3;
$light-green: #00BF6C;
$yellow: #FFF498;
//- body
$body: $white; //-body background
//-scrollbar
$scrollbar: $white;
$scrollbar-bg: $black;
//- Typography
$primary: 'Shadows Into Light';
$secondary: 'Roboto Slab';
$highlight: $yellow;
$selection: $black;
$copy: $white;
$header-size: 32px;
$copy-size: 18px;