//-colors
$white: #FAFAFA;
$black: #212121;
$red: #FC4349;
$grey: #F5F5F5;
$light-grey: #ccc;
$green: #10B500;
$yellow: #FFF498;
$github: #161514;
$twitter: #55acee;
$linkedin: #0077B5;
$cornell: #583d78;
//-scrollbar
$scrollbar: $white;
$scrollbar-bg: $black;
//- Typography
$systemFonts: Avenir,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;
$primary: $systemFonts;
$secondary: 'Roboto Slab';
$highlight: $yellow;
$selection: $black;
$copy: $white;
$header-size: 32px;
$copy-size: 18px;
