@import "src/sass/settings/mixins";

footer {
  display: grid !important;
  place-content: center;

  margin: 7rem 0 !important;

  text-align: center;

  .logo {
    margin-bottom: 2rem;

    cursor: inherit;

    opacity: 0.25;
  }

  .social {
    list-style-type: none;

    margin-bottom: 1rem;

    a {
      text-decoration: none;

      li {
        display: inline-block;

        margin: 0 10px;

        font-size: 1.5rem;
        color: var(--black);

        -webkit-transition: all 0.25s ease-in-out;

        transition: all 0.25s ease-in-out;

        &.twitter {
          color: var(--twitter);
        }

        &.linkedin {
          color: var(--linkedin);
        }

        &:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }

  p {
    margin-bottom: 0.5rem;

    font-size: 0.9rem;

    @include until($iphone-5) {
      font-size: 0.8rem;
    }

    & > div {
      display: inline;

      #heart {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
    }
  }
}
