#resume {
  background-color: var(--red);
  color: var(--white);

  &:hover {
    background-color: var(--white);
    border-color: var(--red);
    color: var(--red);
  }
}

#linkedin {
  background-color: var(--linkedin);
  color: var(--white);

  &:hover {
    background-color: var(--white);
    border-color: var(--linkedin);
    color: var(--linkedin);
  }
}

#github,
#codepen {
  background-color: var(--github);
  color: var(--white);

  &:hover {
    background-color: var(--white);
    border-color: var(--github);
    color: var(--github);
  }
}
