#resume {
	border-color: var(--red);
	color: var(--red);

	&:hover {
		background-color: var(--red);
		color: var(--white);
	}
}

#twitter {
	border-color: var(--twitter);
	color: var(--twitter);

	&:hover {
		background-color: var(--twitter);
		color: var(--white);
	}
}

#linkedin {
	border-color: var(--linkedin);
	color: var(--linkedin);

	&:hover {
		background-color: var(--linkedin);
		color: var(--white);
	}
}

#instagram {
	border-color: var(--instagram);
	color: var(--instagram);

	&:hover {
		background-color: var(--instagram);
		color: var(--white);
	}
}
