#resume {
  background-color: var(--red);
  color: var(--white);

  &:hover {
    border-color: var(--red);
    color: var(--red);
  }
}

#linkedin {
  background-color: var(--linkedin);
  color: var(--white);

  &:hover {
    border-color: var(--linkedin);
    color: var(--linkedin);
  }
}

#github {
  background-color: var(--github);
  color: var(--white);

  &:hover {
    border-color: var(--github);
    color: var(--github);
  }
}

#instagram {
  border-color: var(--instagram);
  color: var(--instagram);

  &:hover {
    background-color: var(--instagram);
    color: var(--white);
  }
}

#twitter {
  border-color: var(--twitter);
  color: var(--twitter);

  &:hover {
    background-color: var(--twitter);
    color: var(--white);
  }
}
