@import "src/sass/settings/mixins";

.experiment {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;

  width: 33%;
  max-width: 33%;

  margin-bottom: 20px;

  @include until($iphone-7) {
	display: block;
	flex: none;

	width: 100%;
	max-width: 100%;
  }

  .link {
	font-size: 1rem;

	&:hover {
	  cursor: pointer;
	  animation: rainbow 1s linear infinite;
	}
  }

  p {
	font-size: var(--copy-size);
  }
}
