extends ../../layouts/_section.pug

block mixins
    mixin pen(title, desc, link, faClassName)
        li
            i(class=faClassName).fa
            | 
            a(href=link).link #{title.toLowerCase()}
            | 
            span (#{desc.toLowerCase()})

block content
    section#codepen
        +tag("code-pens", "id", "hearted, pens")
        ol.list
            +pen("flexbox-navigation", "flexbox navigation", "https://codepen.io/NicholasAdamou/pen/pwddGp", "fa-bars")
            +pen("clockface", "typography-based clock made using js", "https://codepen.io/NicholasAdamou/pen/ZOjjVm", "fa-clock-o")
            +pen("devster", "a developer portfolio template", "https://codepen.io/NicholasAdamou/pen/kXQVNz", "fa-code")
            +pen("chrome-new-tab", "js-based unsplash new-tab page", "https://codepen.io/NicholasAdamou/pen/rLkOYp", "fa-chrome")
            +pen("magickey", "js-based keycode grabber", "https://codepen.io/NicholasAdamou/pen/pbYavw", "fa-key")
        +tag("/code-pens")
        a(href="https://codepen.io/NicholasAdamou" style="margin-left: 10px; text-transform: lowercase; text-decoration: none;").tag View More