extends ../../layouts/_section.pug

block mixins
    mixin project(title, desc, link, faClassName)
        li
            i(class=faClassName)
            | 
            a(href=link).link #{title.toLowerCase()}
            | 
            span (#{desc.toLowerCase()})

block content
    section#internships
        +tag("internships", "id", "projects, write-ups")
        ol.list
            +project("Granet-&-Associates", "Computer Science Intern", "https://drive.google.com/open?id=1lHJPm9usi_eKAbdDKu1BiQzliZu-nQm4", "fab fa-google-drive")
            +project("Mack-Media-Group", "Web Developer Intern", "https://github.com/nicholasadamou/Mack-Media-Group-Internship-Project", "fas fa-wrench")
        +tag("/internships")