extends ../../layouts/_section.pug

block mixins
    mixin soical-media-link(title, desc, link, faClassName)
        li
            i(class=faClassName).fa
            | 
            a(href=link).link #{title.toLowerCase()}
            | 
            span (#{desc.toLowerCase()})

block content
    section#links
        +tag("links", "id", "social-media")
        ol.list
            +soical-media-link("Codepen", "nicholasadamou", "https://codepen.io/nicholasadamou", "fa-codepen")
            +soical-media-link("GitHub", "nicholasadamou", "https://github.com/nicholasadamou", "fa-github")
            +soical-media-link("GitHub-Gist", "nicholasadamou", "https://gist.github.com/nicholasadamou", "fa-github-alt")
            +soical-media-link("Keybase", "nicholasadamou", "https://keybase.io/nicholasadamou", "fa-key")
            +soical-media-link("Twitter", "@nicholasadamou", "https://twitter.com/nicholasadamou", "fa-twitter")
            +soical-media-link("LinkedIn", "nicholasadamou", "https://www.linkedin.com/in/nicholas-adamou", "fa-linkedin")
            +soical-media-link("Stack-exchange", "nicholas-adamou", "https://stackexchange.com/users/6884358/nicholas-adamou", "fa-stack-exchange")
            +soical-media-link("Stack-Overflow", "nicholas-adamou", "https://stackoverflow.com/users/5290011/nicholas-adamou", "fa-stack-overflow")
            +soical-media-link("Hacker-News", "nicholasadamou", "https://news.ycombinator.com/user?id=NicholasAdamou", "fa-hacker-news")
            +soical-media-link("Donate", "$nicholasadamou", "https://cash.me/$NicholasAdamou", "fa-dollar")
            +soical-media-link("Email", "nicholasadamouemail@gmail.com", "mailto:nicholasadamouemail@gmail.com", "fa-envelope-open-o")
        +tag("/links")