extends ../../layouts/_section.pug

block mixins
    mixin pdf(title, link, date)
        li
            i.fa.fa-file-pdf-o
            | 
            a(href=docs + link + ".pdf").link #{title.toLowerCase()}
            | 
            span (#{date})

block content
     section#publications
        +tag("publications", "id", "pdf")
        ol.list
            +pdf("analysis-of-hartwicks-network-security", "an-in-depth-analysis-of-hartwicks-network-security", "12/3/16")
            +pdf("online-courseware-analysis", "online-courseware-analysis", "11/29/17")
        +tag("/publications")