extends ../../layouts/_section.pug

block mixins
    mixin website(title, desc, link, faClassName)
        li
            i(class=faClassName)
            | 
            a(href=link).link #{title.toLowerCase()}
            | 
            span (#{desc.toLowerCase()})

block content
    section#work
        +tag("work", "id", "client-websites")
        ol.list
            +website("Advanced-Electrical-Services", "electricalian", "http://advancedelectricalservicesinc.com", "fas fa-bolt")
            +website("Cut-Paste-Copy", "graphic design agency", "https://cutpastecopy.github.io/", "fas fa-paint-brush")
            +website("BPhong-Music", "vietnamese-american rapper", "https://bphong.github.io/", "fas fa-music")
        +tag("/work")