section#about-me
	div(data-bg=`url(${images}avatar.jpg)`)#avatar.lazy.has-webp

	h1.title Hi! I'm 
		span Nicholas Adamou.

	p I am currently a Computer Science student at 
		a(href="https://www.cornellcollege.edu/" target="_blank" aria-hidden="true" rel="noopener").cornell Cornell College
		|. My mission is to learn as much as I can about different areas of the computer. I absolutely love programming. The mere ability to write a few lines of code and have something unique and interesting come up on the screen fascinates me each and every day!
	p Because of my interest in computers, I have had the unique opportunity to intern and work for a few software engineering companies such as 
		a(href="https://flyblackbird.com" target="_blank" aria-hidden="true" rel="noopener").blackbird Blackbird
		|  and 
		a(href="https://mackmediagroup.com/" target="_blank" aria-hidden="true" rel="noopener").mack-media-group Mack Media Group
		|  where I met and networked with many great and vastly talented engineers.
	p At both 
		a(href="https://flyblackbird.com" target="_blank" aria-hidden="true" rel="noopener").blackbird Blackbird
		|  and 
		a(href="https://mackmediagroup.com/" target="_blank" aria-hidden="true" rel="noopener").mack-media-group Mack Media Group
		|, I overhauled the legacy source code of their web applications, which resulted in increased usability. This was done through quality assurance testing and leveraging technologies such as Google AMP pages, React, React Native, etc.

	.btn-wrapper
		a(href="/assets/docs/nicholas-adamou-resume.pdf" target="_blank" aria-hidden="true" rel="noopener").btn#resume Read My Resume
		a(href="https://linkedin.com/in/nicholas-adamou/" target="_blank" aria-hidden="true" rel="noopener").btn#linkedin Connect with Me on 
			i.fab.fa-linkedin
		a(href="https://twitter.com/NicholasAdamou" target="_blank" aria-hidden="true" rel="noopener").btn#twitter Follow Me on 
			i.fab.fa-twitter
