section#about-me
	div(data-src="assets/images/avatar.jpg")#avatar.lazy

	h1.title Hi! I'm 
		span Nicholas Adamou.

	p I am a Computer Science student at 
		a(href="https://www.cornellcollege.edu/" target="_blank").cornell Cornell College
		|. My goal is to learn as much as I can about different areas of the computer. I absolutely love programming. The mere ability to write a few lines of code and have something unique and interesting come up on the screen fascinates me every day!

	p However, that's not the only thing that interests me, I also love tennis! I have been a tennis player for as long as I can remember, but to be more specific, I picked up the racket for the first time when I was 12 years old. Since then, a lot has changed with my game. My favorite tennis player and role model for my own game is 
		em Rafael Nadal of Spain
		|. He is a lefty, like me. What I admire about him is his dedication to the game and his extreme work ethic.

	a(href="/assets/docs/nicholas-adamou-resume.pdf" target="_blank").btn#resume Read My Resume
	a(href="https://linkedin.com/in/nicholas-adamou/" target="_blank").btn#linkedin Connect with Me on 
		i.fab.fa-linkedin
	a(href="https://twitter.com/NicholasAdamou" target="_blank").btn#twitter Follow Me on 
		i.fab.fa-twitter
