section#about-me
	div(data-bg=`url(${images}avatar.jpg)`)#avatar.lazy.has-webp

	h1.title Hi, 👋🏼! I'm 
		span Nicholas Adamou.

	p I am currently a Computer Science student at 
		a(href="https://www.cornellcollege.edu/" target="_blank" aria-hidden="true" rel="noopener").cornell Cornell College
		|. My mission is to learn as much as I can about different areas of the computer. I absolutely love programming. The mere ability to write a few lines of code and have something unique and interesting come up on the screen fascinates me each and every day!
	p Because of my interest in computers, I've had the unique opportunity to intern and work for a few software engineering companies such as 
		a(href="https://flyblackbird.com" target="_blank" aria-hidden="true" rel="noopener").blackbird Blackbird
		|, 
		a(href="https://mackmediagroup.com/" target="_blank" aria-hidden="true" rel="noopener").mack-media-group Mack Media Group
		|, and  
		a(href="https://ibm.com/" target="_blank" aria-hidden="true" rel="noopener").ibm IBM
		|   where I met and networked with many great and vastly talented engineers.
	p At all three of those companies, I leveraged cutting-edge JavaScript technologies such as React, React Native, Graph QL, Apollo, React Redux, Amazon AWS and more to construct applications driven to excel each company's bottom-line.

	.btn-wrapper
		a(href="https://drive.google.com/file/d/1p819Jx1v50zcBD_DnCo0paoiSnqBXw41/view?usp=sharing" target="_blank" aria-hidden="true" rel="noopener").btn#resume Read My Resume
		a(href="https://linkedin.com/in/nicholas-adamou/" target="_blank" aria-hidden="true" rel="noopener").btn#linkedin Connect with Me on 
			i.fab.fa-linkedin
		a(href="https://twitter.com/NicholasAdamou" target="_blank" aria-hidden="true" rel="noopener").btn#twitter Follow Me on 
			i.fab.fa-twitter
