section#aboutme.hero.is-widescreen.edge--both
    .hero-body
        .container.has-text-centered
            .about_wrapper
                div(data-src="assets/images/avatar.jpg")#avatar.lazy
                h3 About Me
                p Hey, I am Nicholas Adamou. I am a Computer Science student at 
                    em Hartwick College
                    |. My goal is to learn as much as I can about different areas of the computer. I absolutely love programming. The mere ability to write a few lines of code and have something unique and interesting come up on the screen fascinates me every day!
                p However, that's not the only thing that interests me, I also love tennis! I have been a tennis player for as long as I can remember, but to be more specific, I picked up the racket for the first time when I was 12 years old. Since then, a lot has changed with my game. My favorite tennis player and role model for my own game is 
                    em Rafael Nadal of Spain
                    |. He is a lefty, like me. What I admire about him is his dedication to the game and his extreme work ethic.
                a(href="assets/docs/nicholas-adamou-resume.pdf").link Read my résumé →