section#codepen.hero.is-widescreen
    .banner_wrapper
        .text_wrapper
            .title CodePen's
            .subtitle [More can be found on my 
                a(href="https://codepen.io/NicholasAdamou/pens/public/").link CodePen
                | ]
        .fab.fa-codepen
    .hero-body
        .container
            +codepen("Clockface", "ZOjjVm")
            +codepen("Psswrd", "rLKEvk")
            +codepen("2D Stars moving in 3D Space", "kXGoxQ")
    +bottom_text("Take a look at my past internships. 😁", "white", "#internships")
