mixin codepen(title, dataSlug)
    p.codepen(data-theme-id="32420" data-slug-hash=dataSlug data-default-tab="css,result" data-user="NicholasAdamou" data-embed-version="2" data-pen-title=title)
        | See the Pen 
        a(href="https://codepen.io/NicholasAdamou/pen/" + dataSlug + "/") #{title}
        |  by Nicholas Adamou (
        a(href="https://codepen.io/NicholasAdamou") @NicholasAdamou
        | ) on 
        a(href="https://codepen.io") CodePen
        | .
    
section#codepen.hero.is-widescreen.is-fullheight
    .hero-body
        .container.has-text-centered
            h3 My CodePen's
            p More can be found on my 
                a(href="https://codepen.io/NicholasAdamou/").link CodePen
                |.
    ul
        li
            +codepen("Clockface", "ZOjjVm")
        li
            +codepen("Psswrd", "rLKEvk")
        li
            +codepen("2D Stars moving in 3D Space", "kXGoxQ")
        li
            +codepen("MagicKey", "pbYavw")