section#contact
	h2.title Interested in working together? Let's talk.
	p.subtitle Contact me via 
		a(href="mailto:nicholasadamouemail@gmail.com" aria-hidden="true").link email
		|  for business inquiries.

	form(action="https://formspree.io/nicholasadamouemail@gmail.com" method="POST")
		.field.is-horizontal
			label(for="name").field-label Name
			.control
				input(type="text" name="name" placeholder="Your name" aria-label="name").input
		.field.is-horizontal
			label(for="email").field-label Email
			.control
				input(type="email" name="email" placeholder="Your email" aria-label="email").input
		.field.is-horizontal
			label(for="message").field-label Message
			.control
				textarea(type="text" name="message" placeholder="Your message" aria-label="message").textarea
		.field.is-grouped
			.control
				button(type="submit").button.is-link Submit
		input(type="hidden" name="_next" value="form-success.html")
		input(type="hidden" name="_subject" value="New Submission from nicholasadamou.com/")
