section#elsewhere.hero.is-fullheight.is-widescreen
	.hero-body
		.container.has-text-centered
			.title Elsewhere
			.elsewhere-list
				a(href="https://github.com/nicholasadamou" target="_blank").is-github
					i.fab.fa-github
				a(href="https://twitter.com/NicholasAdamou" target="_blank").is-twitter
					i.fab.fa-twitter 
				a(href="https://www.linkedin.com/in/nicholas-adamou/" target="_blank").is-linkedin
					i.fab.fa-linkedin     						
