section#elsewhere.hero.is-fullheight.is-widescreen.edge--both--reverse
    .hero-body
        .container.has-text-centered.animated.fadeIn
            .title Elsewhere
            ul
                a(href="https://github.com/nicholasadamou")
                    li
                        i.fab.fa-github
                a(href="codepen.io/NicholasAdamou/")
                    li
                        i.fab.fa-codepen
                a(href="https://twitter.com/NicholasAdamou")
                    li
                        i.fab.fa-twitter
                a(href="https://www.linkedin.com/in/nicholas-adamou/")
                    li
                        i.fab.fa-linkedin-in                        