section#elsewhere.hero.is-fullheight.is-widescreen
    .hero-body
        .container.has-text-centered.animated.fadeIn
            .title Elsewhere
            .elsewhere-list
                a(href="https://github.com/nicholasadamou").is-github
                    i.fab.fa-github
                a(href="https://twitter.com/NicholasAdamou").is-twitter
                    i.fab.fa-twitter                      