section#expertise.hero.is-fullheight.is-widescreen
    .hero-body
        .container.has-text-centered
            h3 My Expertise
            p I've got the chops in all phases of the design process.
            ul
                li
                    i.far.fa-gem
                    h4 Ideas
                    p I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.
                li
                    i.fas.fa-magic
                    h4 UX/UI
                    p I sketch and wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.
                li
                    i.fas.fa-code
                    h4 Code
                    p I design in the browser with HTML(5), CSS(3) and a touch of JavaScript. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap too.
