section#experiments
	h2.title Experiments 🧪
	p.subtitle Quick prototypes, work-in-progress or abandoned experiments I've done in JavaScript.

	.experiments
		+experiment("Low Poly Earth", "THREE.js implementation of the Earth using only polygons.", "https://codepen.io/NicholasAdamou/pen/xQKxgN")
		+experiment("Star Field", "A multi-layered star-field constructed using ES6 JavaScript.", "https://codepen.io/NicholasAdamou/pen/QZVddm")
		+experiment("Matrix", "The matrix text effect implemented using ES6 JavaScript", "https://codepen.io/NicholasAdamou/pen/oaQMZV")
	
	p.footer-text More can be found on my 
		a(href="https://codepen.io/NicholasAdamou" target="_blank" aria-hidden="true").link.codepen CodePen
		|.
