- var year = moment(Date.now()).year();

footer
	div(data-src=images + "logos/nicholasadamou_logo.png").logo.lazy
		
	.social
		ul
			a(href="https://codepen.io/NicholasAdamou" target="_blank" aria-hidden="true" rel="noopener")
				li
					i.fab.fa-codepen
			a(href="https://github.com/nicholasadamou" target="_blank" aria-hidden="true" rel="noopener")
				li
					i.fab.fa-github
			a(href="https://linkedin.com/in/nicholas-adamou/" target="_blank" aria-hidden="true" rel="noopener")
				li.linkedin
					i.fab.fa-linkedin
			a(href="https://twitter.com/NicholasAdamou" target="_blank" aria-hidden="true" rel="noopener")
				li.twitter
					i.fab.fa-twitter

	p Handcrafted with 
		i(style="color: red").fas.fa-heart
		|  by myself. Copyright &copy; #{year}.
	p Made with 
		a(href="https://bulma.io/" target="_blank" aria-hidden="true" rel="noopener").link Bluma
		|  and 
		a(href="https://github.com/nicholasadamou/starter-kit" target="_blank" aria-hidden="true" rel="noopener").link Starter-Kit
		|.
	p Source code available on 
		a(href="https://github.com/nicholasadamou/nicholasadamou.github.io" target="_blank" aria-hidden="true" rel="noopener").link GitHub
		|.
