section#github.hero.is-widescreen
    .banner_wrapper
        .text_wrapper
            .title Github Repositories
            .subtitle [More can be found on my 
                a(href="https://github.com/nicholasadamou?tab=repositories").link GitHub
                | ]
        .fas.fa-code-branch
    .hero-body
        .container
            +repo("Starter-Kit")
            +repo("dotfiles")
        
    +bottom_text("Take a look at my CodePen 🤓", "black", "#codepen")
