section#github.hero.is-fullheight.is-widescreen
	.hero-body
		.container.has-text-centered
			h3 Github
			p My open-source projects.

			.repositories
				+git-repo("https://github.com/nicholasadamou/Starter-Kit", "Starter-Kit", "A Front End development Gulp.js based workflow. 🚀")
				+git-repo("https://github.com/nicholasadamou/dotfiles", "Dotfiles", "Nicholas Adamou's dotfiles preferences and developer environment. 💻")
				+git-repo("https://github.com/nicholasadamou/isitup", "Is it up?", "A simple web application to check whether a site is 🆙 or broken.")
				+git-repo("https://github.com/nicholasadamou/cf-detect", "cf-detect", "A simple web application to check whether a site is running behind Cloudflare. ✨")
				+git-repo("https://github.com/nicholasadamou/macos", "macos", "Opinionated MacOS configurations based on development needs. 💾")
				+git-repo("https://github.com/nicholasadamou/Confy", "Confy", "A shell script to bootstrap a mac OS laptop (or Desktop) into a development machine. 💾")
	+footer-text("More can be found on my", "Github", "https://github.com/nicholasadamou", "github")
