section#github.hero.is-widescreen
    +banner("GitHub Repositories", "More can be found on my", "GitHub", "fas", "fa-code-branch", "https://github.com/nicholasadamou?tab=repositories")
    .hero-body
        .container
            +repo("Starter-Kit")
            +repo("dotfiles")
