section#github.hero.is-fullheight.is-widescreen
	.hero-body
		.container.has-text-centered
			h3 Github
			p My open-source projects.

			.repositories
				+git-repo("https://github.com/nicholasadamou/Starter-Kit", "Starter-Kit", "A Front End development Gulp.js based workflow. 🚀")
				+git-repo("https://github.com/nicholasadamou/dotfiles", "dotfiles", "Nicholas Adamou's dotfiles, preferences, and developer environment. 💻")
				+git-repo("https://github.com/nicholasadamou/isitup", "Is it up?", "A simple web application to check whether a site is 🆙 or broken.")
				+git-repo("https://github.com/nicholasadamou/cf-detect", "cf-detect", "A simple web application to check whether a site is running behind Cloudflare. ✨")
				+git-repo("https://github.com/nicholasadamou/macos", "macos", "Opinionated MacOS configurations based on development needs. 💾")
				+git-repo("https://github.com/nicholasadamou/AnyFi", "AnyFi", "Configure your Raspberry Pi as a wireless access point and to connect to any OPEN WiFi access point. 🛠")
	+footer-text("More can be found on my", "Github", "https://github.com/nicholasadamou", "github")
