section#header.hero.is-fullheight.is-widescreen
    include ../modules/nav.pug

    .hero-body
        #particles-js.container.animated.fadeIn
            .title Hi, I am 
                strong Nicholas Adamou
                |. 
            .title I design and build
            .subtitle excellent, modern websites.