section#header.hero.is-fullheight.is-widescreen
    include ../modules/nav.pug

    .hero-body
        #particles-js.container.has-text-centered.animated.fadeIn
            .title Hi, I am 
                strong Nicholas Adamou
                |. 
            .title I 
                em design
                |  and 
                em build
            .typed.subtitle