section#header.hero.is-fullheight.is-widescreen
	include ../modules/nav.pug

	.hero-body
		.container.animated.fadeIn
			.title Hi! I'm 
				span.my-name Nicholas Adamou
			.subtitle Full Stack Web Developer
    
		include ../modules/hero.pug
