section#internships.hero.is-widescreen
    +banner("Internships", "See more on my", "LinkedIn", "far", "fa-building", "https://www.linkedin.com/in/nicholas-adamou/")
    .hero-body
        .container.has-text-centered
            .internship_wrapper
                img(data-src="assets/images/logos/mack-logo.png").lazy
                p At Mack Media, I learned the process of making a website from start to finish and the marketing methods that professionals use to increase brand-awareness by using different SEO techniques. I was the lead developer of the AMP website where I used Google AMP pages to develop a user-friendly and wickedly fast home page for the agency.
                a(href="https://github.com/nicholasadamou/Mack-Media-Group-Internship-Project").link Check it out →
            .internship_wrapper
                img(data-src="assets/images/logos/Keith-Granet-and-Associates.jpg").lazy
                p I worked in an interdisciplinary team under the guidance of alumnus Keith Granet and using content from his two books, 
                    em Business of Creativity 
                    | and   
                    em Business of Design
                    |, to construct an online course composed of a series of lessons that help students entering the design profession.
                a(href="https://drive.google.com/open?id=1lHJPm9usi_eKAbdDKu1BiQzliZu-nQm4").link Check it out →