section#my-expertise
	h2.title My Expertise
	p.subtitle I've got the chops in all phases of the development life cycle.

	ul
		li
			i.far.fa-gem
			h3 Ideas
			p I collaborate with clients and peers to nurture and transform ideas into well thought out designs. After all, that's where the majority of amazing user experiences start.
		li
			i.fas.fa-magic
			h3 UI/UX
			p I sketch and wire-frame interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.
		li
			i.fas.fa-code
			h3 Code
			p I design in the browser with HTML(5), CSS(3) and ES6 JavaScript. I love coding things from scratch, but I can work with front-end frameworks like 
				a(href="https://getbootstrap.com/" target="_blank").link Bootstrap
				|, 
				a(href="https://bulma.io/" target="_blank").link Bluma
				|, and others too.

