section#news
	h2.title Nick in the News
	p.subtitle Some articles that were written about me.

	.articles
		+news(
			"Adamou holds computer science internship at IBM",
			"Nick Adamou will start his senior year with new insights and knowledge following his computer science internship.",
			"https://news.cornellcollege.edu/2019/08/adamou-holds-computer-science-internship-ibm/"
		)
