section#publications
	h2.title Publications
	p.subtitle I enjoy writing my thoughts and some times I publish it. Here are some of my favorites.

	.publications
		+publication(
			"An In-depth Analysis of Online Courseware", 
			"Online education has developed and grown tremendously over the past three decades due to the advancement of technology. Higher internet speeds, better storage technology, and improvements to web languages have brought forth new innovations including cloud computing, Google web applications (e.g. Google Drive, Google Photos, etc), and better online courses including lynda and Coursera. In this paper, I will focus on the following key areas as they relate to online courseware: (i) History, (ii) Advancement of Technology and (iii) Applications of New Innovations to demonstrate how new technology developments within these areas have positively impacted online courses.", 
			"https://drive.google.com/file/d/1z8OCmDgBck8gm_Ck0Rc4uzmcvYntlMfs/view?usp=sharing"
		)
		+publication(
			"An Analysis of Hartwick’s Network Security",
			"There are different standards for security of networks such as: Wired Equivalent Privacy (WEP), Wi-Fi Protected Access (WPA) and Wi-Fi Protected Access version 2 (WPA2). Each protocol has their own unique way of authenticating a user into a network. Determining which protocol is the best choice for a particular organization can be challenging. Hartwick College has a total student body of approximately 1,550 students with 500 or so faculty members and staff, so keeping its user-base secure is a keen issue that its system and network administrators have to consider. The IT department at Hartwick College has utilized all of this knowledge to develop and provide a secure network for its student body and faculty.",
			"https://drive.google.com/file/d/1ev9OGrBwBsmTpfVEzqY52ORBWvDDGPz5/view?usp=sharing"
		)
		+publication(
			"Netflix’s Value-Adding Business Model",
			"Since the boom of the internet, the race to become a completely digital society has begun. This has led to the emergence of new services and industries. Because of the internet, many internet-based services and applications have sprung up. Many companies have made the switch to cloud computing. Most noteworthy and the first to the market was Netflix. Netflix is known for their internet-based streaming service used for watching television on any mobile device, such as tablets, laptops, and smartphones. Because of Netflix’s success in the streaming business other competitive companies have emerged, such as Hulu, Amazon TV, HBO and YouTube. Essentially, any device that can connect to the internet, can use Netflix’s service or other competing services. According to Nielsen data, over the last 10 years, the internet has grown to become a fundamental part of our society. 274.2 million Americans were hooked up to the Internet in 2011 (more than double the number with access in 2000) and spent 81 billion minutes on social networks and blogs (Nielsen). There are 165.9 million people who watch video on the computer. As stated in Nielsen, 28% of users choose to watch online video on a smartphone rather than watching online video on other handheld devices, which is 11%. (Nielsen). The expansion into streaming services has been linked to the emergence of newer technology that provided for a higher level of bandwidth and thus a better user experience. In that regard, the advanced innovation and increased subscription rates provided for better returns in terms of economics for those companies in the streaming media business such as Netflix. From a broader perspective, the evolution of digitization such as Netflix has had direct impact on macroeconomics, including employment,emergence of new innovative businesses, and traditional media businesses within the economy.",
			"https://drive.google.com/file/d/1rXDxUfrNq4y2-OmOVqlop9lR8GCA3C1d/view?usp=sharing"
		)
