section#recent-work
	h2.title Recent Work 🍫
	p.subtitle A selection of work that was designed, programmed and delivered by me.

	.products
		+product("Advanced Electrical Services", 
		"https://advanced-electrical-services.netlify.com/",
		"advanced-electrical-services_desktop.png",
		"advanced-electrical-services_mobile.png"
		)
		+product("Cut Paste & Copy", 
		"https://cutpastecopy.github.io/",
		"cut-paste-copy_desktop.png",
		"cut-paste-copy_mobile.png"
		)

	p.footer-text More can be found on my 
		a(href="https://linkedin.com/in/nicholas-adamou/" target="_blank").link.linkedin LinkedIn
		|.
