section#skills.hero.is-fullheight.is-widescreen
	.hero-body
		.container.has-text-centered
			h3 My Skills
			p.subtitle Things that I use and 
				i(style="color: red;").fas.fa-heart
				|.
			ul.skills-list
				+skill("Java, JavaScript, Objective-C, HTML/CSS, Python, Bash, Shell, Markdown, SQL", "90")
				+skill("Node.js, Gulp.js, Git, Pug, SASS/SCSS, Babel, jQuery, Bower, Yarn", "85")
				+skill("Terminal, Git, GitHub, DevTools, Testing", "95")
