:root {
	--light-grey: #cccccc;
	--blue: #5496ff;
  	--green: #10b500;
  	--black: #212121;
  	--red: #fc4349;
  	--white: #fafafa;

	--gatech: #eeb211;
	--ibm: #1f70c1;
	--linkedin: #0077b5;
	--svelte: #fe3e00;
	--netlify: #419490;

	--font-family-primary: 'Inter';

	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 32px;

	--text: #212121;
    --text-contrast: #ffffff;

    --background: #ffffff;
    --background-contrast: #212121;

    --primary: #212121;
    --secondary: #656d78;
}

/* Text selection styles */
*::selection {
	background: var(--background-contrast);
	color: var(--text-contrast);
}

html {
  overflow-x: hidden;
}

body {
	margin: 0;

	font-family: var(--font-family-primary);
	font-size: clamp(100%, calc(1rem + 2vw), var(--fz-lg));
	line-height: 1.3;

	background-color: var(--background);
	color: var(--theme-colors-text);

	//border-top: 20px solid var(--theme-colors-background-contrast);

	transition: background-color 0.3s;

	overflow-x: hidden;

	zoom: 125%;

	@media screen and (max-width: 1920px) {
	  zoom: 110%;
	}

	@media screen and (max-width: 1440px) {
	  zoom: 100%;
	}
}

.link {
	text-decoration: underline;
	color: var(--blue);

	&:hover {
		color: var(--light-grey) !important;
	}
}

.gatech {
	color: var(--gatech) !important;
}

.ibm {
	color: var(--ibm) !important;
}

.github {
	color: var(--github) !important;
}

.netlify {
	color: var(--netlify) !important;
}

.svelte {
	color: var(--svelte) !important;
}

button {
	padding: 0;

	background: none;

	border: none;
	outline: inherit;

	font: inherit;
	color: inherit;
	line-height: 1;

	cursor: pointer;
}

p {
	margin: 0;
}
