@import "src/sass/settings/mixins";

#contact {
  position: relative;

  margin-bottom: 2rem;

  width: 75%;

  .title:nth-child(2) {
    margin-top: -15px;
    margin-bottom: 30px;
  }

  @include until($iphone-7) {
    width: 100%;
  }

  form {
    position: relative;
    width: 100%;
    margin: 20px auto 0;

    @include until($ipad) {
      width: 100%;

      .field.is-horizontal {
        text-align: left;
      }
    }

    @include until($iphone-7) {
      width: 90%;
    }

    .button,
    .field-label,
    .input,
    .textarea {
      font-family: var(--secondary);
      color: var(--black);
    }

    .field-label {
      font-weight: 400;
      margin: 0 10px 0 0;

      -webkit-box-flex: 0;

      flex-grow: 0;

      @include until($iphone-7) {
        margin-right: 0;
        text-align: left;
      }
    }

    .control {
      width: 100%;

      @include until($iphone-7) {
        margin-top: 10px;
      }
    }

    .input,
    .textarea {
      background: transparent;
      border: 5px solid var(--black);
      border-radius: 0;

      -webkit-transition: all 150ms ease-in-out;

      transition: all 150ms ease-in-out;

      &::-webkit-input-placeholder {
        color: var(--black);
      }

      &:-moz-placeholder {
        color: var(--black);
      }

      &::-moz-placeholder {
        color: var(--black);
      }

      &:-ms-input-placeholder {
        color: var(--black);
      }

      &:focus {
        border-color: var(--red);
      }
    }

    .field.is-grouped {
      -webkit-box-pack: end;
      justify-content: flex-end;

      @include until($iphone-7) {
        -webkit-box-pack: center;
        justify-content: center;
        margin-bottom: 0;
      }

      .control {
        text-align: right;

        @include until($iphone-7) {
          width: 100%;
        }
      }

      .button {
        background: var(--red);
        border-radius: 0;
        width: 200px;
        padding: 0;

        color: var(--white);

        &:hover {
          color: var(--black);
          border: 5px solid var(--red);
          background: transparent;
        }

        @include until($iphone-7) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
