@import "src/sass/settings/mixins";

#news {
  //width: 100%;

  .subtitle {
    margin-bottom: 16px;
  }

  .articles {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    text-align: left;

    overflow: hidden;

    margin: auto 5rem 20px;

    @include until($ipad) {
      margin: auto 0rem 20px;
    }

    @include until($iphone-7) {
      margin: auto 1rem 20px;
    }
  }
}
