.wave-emoji {
  display: inline-block;

  -webkit-animation-duration: 1.8s;

  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: wave;
  animation-name: wave;

  -webkit-transform-origin: 70% 70%;

  transform-origin: 70% 70%;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  20% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  30% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  20% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  30% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
