button(type="button" aria-label="navigation").hamburger.hamburger--collapse.toggle.animated.slideInDown
	span.hamburger-box
		span.hamburger-inner

.nav-container
	a(href="#top").logo-link
		div(data-src="assets/images/logos/nicholasadamou_logo.png").logo.lazy

	nav
		a(href="#top").nav_link About Me
		a(href="#my-expertise").nav_link My Expertise
		a(href="#skills").nav_link Skills
		a(href="#recent-work").nav_link Recent Work
		a(href="#open-source").nav_link Open Source
		a(href="#experiments").nav_link Experiments
		a(href="#publications").nav_link Publications
		a(href="#contact").nav_link Contact

	a(href="mailto:nicholasadamouemail@gmail.com").email-link + Email Me
