button(type="button").hamburger.hamburger--collapse.toggle.animated.slideInDown
	span.hamburger-box
		span.hamburger-inner
		
.nav-container
	a(href="#top").logo
		div(data-src="assets/images/logos/nicholasadamou_logo.png")#logo.lazy

	nav
		a(href="#aboutme").nav_link About Me
		a(href="#work").nav_link Work
		a(href="#codepen").nav_link CodePen
		a(href="#internships").nav_link Internships
		a(href="#elsewhere").nav_link Elsewhere
		a(href="#contact").nav_link Contact

	a(href="mailto:nicholasadamouemail@gmail.com").email-link + Email Me