nav#sticky.animated.slideInDown
    a(href='#top').logo
        div(data-src="assets/images/logos/nicholasadamou_logo.png")#logo.lazy
    button(type="button").hamburger.hamburger--collapse#toggle
        span.hamburger-box
            span.hamburger-inner
    ul#nav
        li
            a(href='#aboutme').hvr-grow.nav-link About Me
        li
            a(href='#work').hvr-grow.nav-link Work
        li
            a(href='#github').hvr-grow.nav-link GitHub
        li
            a(href='#codepen').hvr-grow.nav-link CodePen
        li
            a(href='#internships').hvr-grow.nav-link Internships
        li
            a(href='#contact').hvr-grow.nav-link Contact