button(type="button").hamburger.hamburger--collapse.toggle.animated.slideInDown
	span.hamburger-box
		span.hamburger-inner
		
.nav-container
	a(href="#top").logo
		div(data-src="assets/images/logos/nicholasadamou_logo.png")#logo.lazy

	nav
		a(href="#aboutme").nav_link About
		a(href="#expertise").nav_link Expertise
		a(href="#skills").nav_link Skills
		a(href="#clients").nav_link Client Work
		a(href="#github").nav_link Github		
		a(href="#contact").nav_link Contact

	a(href="mailto:nicholasadamouemail@gmail.com").email-link + Email Me
