#social_wrapper.animated.slideInRight
    ul
        a(href="https://www.linkedin.com/in/nicholas-adamou")
            li
                .fab.fa-linkedin
        a(href="https://twitter.com/nicholasadamou")
            li
                .fab.fa-twitter
        a(href="https://codepen.io/nicholasadamou")
            li
                .fab.fa-codepen
        a(href="https://github.com/nicholasadamou")   
            li
                .fab.fa-github