@import "src/sass/settings/mixins";

#education {
  padding: 0 25px;

  .experiences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    margin: 0 2rem;

    @include until($iphone-7) {
      grid-template-columns: 1fr;
      grid-gap: initial;

      margin: 0;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 1rem 1rem 2rem;

    text-align: left;

    @include until($iphone-7) {
      display: block;

      margin: 0;
    }
  }

  #reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin: 2rem 5rem 2rem;

    @include until($ipad) {
      margin: 2rem 2rem 2rem;
    }

    @include until($iphone-7) {
      display: block;

      margin: 0;

      .review {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
