@import "src/sass/settings/mixins";

.awards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  place-content: center;

  margin: 0 7rem;

  @include until($iphone-7) {
    grid-template-columns: 1fr;
    grid-gap: initial;

    margin: 0;
  }

  .award-listing {
    display: flex;
    align-items: flex-start;

    @include until($iphone-7) {
      display: block;

      margin-bottom: 20px;

      text-align: left;
    }

    .school-logo {
      margin-top: 5px;

      border-radius: 5%;

      width: 50px;
      height: 50px;

      @include until($iphone-7) {
        margin: 0;
      }
    }

    .awards-meta {
      display: flex;
      flex-direction: column;

      margin-left: 1rem;

      text-align: left;

      font-size: var(--copy-size);

      @include until($iphone-7) {
        margin: 0;
      }

      .award-listing-title {
        font-weight: bold;
      }

      .awards-content {
        margin-top: 5px;
        margin-left: 20px;

        @include until($iphone-7) {
          margin-left: 0;
        }
      }
    }
  }
}
