.footer-text {
  margin-top: 2rem;

  font-size: 1rem;

  .link {
	&.linkedin {
	  color: var(--linkedin);
	}

	&.github {
	  color: var(--github);
	}

	&.codepen {
	  color: var(--codepen);
	}

	&:hover {
	  color: darken(#ccc, 15);
	}
  }
}
