@import "src/sass/settings/mixins";

article {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  width: 90%;
  max-width: 100%;

  margin: 10px auto;

  overflow: hidden;

  @include until($iphone-7) {
    display: block;
    -webkit-box-flex: 0;
    flex: none;

    width: 100%;
    max-width: 100%;
  }

  .emoji {
    margin-right: 5px;
  }

  .link {
    font-size: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: var(--copy-size);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
