////
/// Global mixins
/// @group Globals
/// @author Nicholas Adamou
////

$iphone-7: 430px;
$iphone-5: 320px;
$ipad-pro-landscape: 1400px;
$ipad-pro: 1024px;
$ipad: 768px;

@mixin until($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}
