@import "src/sass/settings/mixins";

#papers {
  width: 100%;

  .subtitle {
	margin-bottom: 16px;
  }

  .papers {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	text-align: left;

	overflow: hidden;

	margin: auto 5rem 20px;

	@include until($iphone-7) {
	  margin: auto 1rem 20px;
	}
  }
}
