block mixins

block variables
	- var assets = 'assets/'
	- var css = assets + 'css/'
	- var js = assets + 'js/'
	- var images = assets + 'images/'
	- var favicons = images + 'favicons/'
	- var docs = assets + 'docs/'

block content