@import "../../sass/settings/mixins";

#navigation-container {
  background: white;

  position: fixed;
  top: 0;

  height: 100%;
  width: 130px;
  text-align: left;
  z-index: 999;

  &.opened {
	left: 0;
  }

  &.closed {
	left: -130px;
  }

  a {
	display: block;
	padding-left: 20px;
	text-decoration: none;

	color: var(--black);

	cursor: pointer;

	&:hover {
	  color: var(--red);
	  text-decoration: underline;
	}
  }

  #navigation {
	display: grid;
	grid-gap: 20px;

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);

	text-align: left;
	width: 100%;

	font-family: var(--secondary);
	font-weight: 400;

	@include until($iphone-7) {
	  font-size: 14px;
	}
  }

  #email-link {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);

	width: 100%;

	padding: 0 0 0 20px;

	font-family: var(--secondary);
	font-weight: 400;

	@include until($iphone-7) {
	  font-size: 14px;
	}
  }
}
