.tag {
    display: inline;
    position: relative;
    margin-left: -1px;
    padding: 3px 6px;
    text-align: left;
    background: $b-tag;
    border-radius: 3px;
    font-size: 14px;
    color: $tag-color;
    line-height: 3.2em;
}

#header {
    text-transform: lowercase;
    .header__logo {
        position: relative;
        margin: 10px 15px 10px 0px;
        height: 100px;
        width: 100px;
        background: url($logo);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        @include until($mobile) {
            margin: 5px 0px;
            width: 90px;
            height: 90px;
        }
    }
    #header__name {
        margin: -1px 0 1px 0;
        font-size: 24px;
        text-indent: -1px;
        color: $h-color;
        @include until($mobile) {
            font-size: 20px;
        }
    }
    .title {
        color: $highlight;
    }
}

.link {
    text-decoration: none;
    color: $link-color;
    &:hover {
        font-weight: 700;
        color: $link-hover-color;
        background: $link-hover-bg-color;
    }
}

.list {
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
}

#projects-wrapper {
    h1 {
        font-size: 32px;
        line-height: 1.14;
        margin: 30px 0px;
        color: $h-color;
    }
    .project-itm {
        margin-bottom: 30px;
        .title {
            font-size: 24px;
            margin-bottom: 16px;
        }
        .desc {
            font-size: 14px;
            color: $c-color;
            margin-bottom: 16px;
        }
    }
}
