//- Logo
$logo: "../../assets/images/logo.png";
//- body
$b-color: #fff; //-body background
//- Typography
$font-family-primary: 'Inconsolata', monospace;
$h-color: darken(#d6ff79, 50%); //- header text color
$c-color: #333; //- general text color
$loc-color: $h-color; //- location color
$highlight: $h-color; //- selection background color
$selection-color: white; //- selection text color
$link-color: $h-color; //- a tag text color
$link-hover-bg-color: $h-color; //-  a tag bg hover color
$link-hover-color: white; //- a:hover tag text color
$link-visited-color: #b5b5b5; //- a:visited tag text/bg color
$link-inverted-color: #eaeaea; //-a:visited:hover text color
$tag-color: white; //tag text color
//- Miscellaneous
$b-tag: $h-color; //- tag background color
