#avatar {
	position: relative;

	margin: 0 auto;
	margin-top: -125px;

	@include size(250px);

	border-radius: 50%;

	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;

	@include until($iphone-7) {
		width: 200px;
		height: 200px;

		margin-top: -100px;
	}
}
