.banner_wrapper {
    position: relative;
    
    display: flex;
    align-items: start;
    
    margin-top: 20px;
    margin-bottom: 50px;
    
    @include until($iphone-7) {
        width: 100%;
    }

    .svg-inline--fa {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, 0);

        opacity: 0.2;
        z-index: 0;

        font-size: 150px;
        color: $white;
    }

    .text_wrapper {
        display: grid;
        grid-gap: 5px;

        z-index: 1;

        text-align: center;
        margin: 0 auto;

        h1 {
            font-size: $header-size;
            font-weight: 700;
        }

        .subtitle {
            font-size: $copy-size;
        }

        .link {
            color: $black;
        }
    }
}