.footer-text {
	margin-top: 2rem;

	font-size: 1rem;

	.link {
		&.linkedin {
			color: $linkedin;
		}

		&.github {
			color: $github;
		}

		&.codepen {
			color: $codepen;
		}

		&:hover {
			color: darken($light-grey, 15);
		}
	}
}
