.hero-foot {
	.footer-text {
		margin-bottom: 25px !important;

		font-size: 1.1rem !important;
		font-weight: 300;
		color: $black !important;
	}

	.is-twitter {
		color: var(--color-twitter);

		&:hover {
			color: var(--color-black);
		}
	}

	.is-linkedin {
		color: var(--color-linkedin);

		&:hover {
			color: var(--color-black);
		}
	}

	.is-github {
		color: var(--color-github);

		&:hover {
			color: var(--color-light-grey);
		}
	}
}
