.repositories {
	display: flex;
	flex-wrap: wrap;

	.repo-container {
		display: inline-block;
		flex-grow: 1;
		width: 33.3%;

		padding-right: 1.25rem;
		padding-left: 1.25rem;

		text-align: left;

		@include until($ipad-pro) {
			width: 50%;
		}

		@include until($iphone-7) {
			width: 100%;
		}

		.repo {
			margin: 2em 0;
			padding: 60px 40px;

			border-radius: 2px;
			border-top: 3px solid $red;

			transition: all .3s ease-out;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

			&:hover {
				box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
			}

			.repo-title {
				display: flex;
				justify-content: space-between;

				margin-bottom: .5em;

				a {
					text-decoration: none;

					font-size: 1.25em;
					color: var(--color-black);

					transition: color .2s ease-out;

					&:hover {
						color: var(--color-light-grey);
					}
				}
			}

			.repo-stats {
				display: flex;
				align-items: center;
				margin-top: .75em;
				margin-bottom: .75em;

				.starred,
				.forked {
					display: flex;
					align-items: center;

					margin-right: 10px;

					transition: transform 0.3s ease-in-out;

					&:hover {
						transform: scale(1.5);
					}

					&:last-child {
						margin: 0;
					}

					.svg-inline {
						width: 1.15em;
						height: 1.15em;
						padding: 0 .25em 0 0;
					}
				}

				.starred {
					color: var(--color-dark-yellow);
				}

				.forked {
					color: var(--color-black);
				}
			}

			.repo-desc {
				font-weight: 300;
				font-size: 1.05em;
			}
		}
	}
}
