.svg {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	
	width: 50%;
	
	@include until($ipad-pro-landscape) {
		width: 100%;
	}
}

#line {
	transform: scaleX(0);
	transform-origin: 50% 100%;
	animation: grow 1s forwards;
}

.draw {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	fill: none;
	stroke: $light-grey;
	stroke-width: 4;
	animation: draw 3s 2s forwards, fill 1s 2.5s forwards;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.page .frame {
	fill: $light-grey;
	stroke: none;
}

.page .background {
	fill: $white;
	stroke: none;
}

.page .background,
.page .frame,
.page rect {
	transform: scaleY(0);
	transform-origin: 50% 100%;
	animation: grow 1s 1s forwards;
}

.page-center .content-group {
	animation: contentScroll 8s 3.5s infinite;
}

.page-sidebar .content-group {
	animation: contentScrollTwo 8s 4s infinite;
}

.page-form .outline-container {
	fill: $light-grey;
}

.page-form .field-content {
	animation: draw 3s 2s forwards, fillTwo 1s 2.5s forwards
}

.page-form .field {
	animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 3.5s;
}

.page-form .field-two {
	animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 4.5s;
}

.page-form .button-container .button {
	animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 5.5s;
}

.page-form .check-mark {
	fill: $green;
	animation: none;
}

.page-slider .image-slider-group {
	animation: sliderScroll 8s 3.5s infinite;
}

.page-hero .images-container {
	animation: heroImagesOne 6s 3.5s infinite;
}

.page-hero .images-container-two {
	animation: heroImagesTwo 6s 3.5s infinite;
}

@keyframes grow {

	100% {
		transform: scale(1);
	}

}

@keyframes draw {

	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {

	100% {
		fill: $light-grey;
		stroke-width: 0;
	}

}

@keyframes fillTwo {

	100% {
		fill: $white;
		stroke-width: 0;
	}

}

@keyframes contentScroll {

	50% {
		transform: translateY(-165px);
	}

}

@keyframes contentScrollTwo {

	50% {
		transform: translateY(-140px);
	}

}

@keyframes highlight {

	50% {
		fill: $green;
	}

}

@keyframes fadeIn {

	100% {
		opacity: 1;
	}

}

@keyframes fadeOut {

	100% {
		opacity: 0;
	}

}

@keyframes sliderScroll {

	0% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-13.99%);
	}

	45% {
		transform: translateX(-13.99%);
	}

	50% {
		transform: translateX(-27.95%);
	}

	70% {
		transform: translateX(-27.95%);
	}

	75% {
		transform: translateX(13.95%);
	}

	95% {
		transform: translateX(13.95%);
	}

}

@keyframes heroImagesOne {

	0% {
		transform: translateX(0);
	}

	10%, 50% {
		transform: translateX(-459px);
	}

	60%, 100% {
		transform: translateX(0);
	}

}

@keyframes heroImagesTwo {

	0% {
		transform: translateX(459px);
	}

	10%, 50% {
		transform: translateX(0);
	}

	60%, 100% {
		transform: translateX(459px);
	}

}

#form-sent {
	opacity: 0;
	transition: opacity 1000ms;
	animation: fadeIn 1s 6.5s forwards, fadeOut 2s 10s forwards;
}

.is-hidden {
	opacity: 0;
}