.internship_wrapper {
    display: grid;
    grid-gap: 10px;

    width: 50%;

    margin: 0 auto;
    margin-bottom: 50px;

    @include until($tablet-small) {
        width: 100%;
    }

    img {
        width: 350px;
        margin: 0 auto;
    }

    p, .link {
        @include until($mobile) {
            text-align: left;
        }
    }

    p {
        color: $black;
    }

    .link {
        color: $light-green;

        &:hover {
            $color: $black;
        }
    }
}