.content {
	position: relative;
	left: -20px;

	z-index: 9999;
	overflow-x: hidden;

	padding-left: 20px;
	padding-right: 20px;
}

.nav-open {
	left: 130px;
	transition: left 0.3s ease-in-out;
}

.nav-open .nav-container {
	left: 0;
}

.nav-open .toggle {
	left: 155px;
	transition: left 0.3s ease-in-out;
}

.toggle {
	display: block;

	font-size: 32px;
	position: fixed;
	top: 20px;
	left: 35px;
	z-index: 999;

	padding: 5px;

	text-decoration: none;

	opacity: 1 !important;

	@include until($iphone-7) {
		top: 20px;
		left: 20px;
	}

	.hamburger-box, .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
		width: 30px;
	}

	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
		background: $black;
	}
}

.background-invert {
	background: $white !important;

	&:after, &:before {
		background: $white !important;
	}
}

.nav-container {
	background: white;
  
	position: fixed;
	top: 0;
	left: -130px;
  
	height: 100%;
	width: 130px;
	text-align: left;
	z-index: 999;
	transition: left 0.3s ease-in-out;
	
	a {
		display: block;
		padding-left: 20px;
		text-decoration: none;

		color: $black;
		
		&:hover {
			color: $red;
			text-decoration: underline;
		}
	}
}

.logo {
	padding-left: 0 !important;
}

nav { 
	display: grid;
	grid-gap: 20px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);

	text-align: left;
	width: 100%;

	font-family: $secondary;
	font-weight: 400;

	@include until($iphone-7) {
		font-size: 14px;
	}
}

.email-link {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	
	width: 100%;

	padding: 0;

	font-family: $secondary;
	font-weight: 400;

	@include until($iphone-7) {
		font-size: 14px;
	}
}
