.skills-list {
	padding: 0 1.5em;

	text-align: left;

	.skill {
		color: $black;

		padding: 1em 0;

		&-title {
			font-weight: 300;

			margin-bottom: 1em;
		}

		.progress-bar, .bar {
			height: 4px;
			border-radius: 4px;
		}

		.progress-bar {
			position: relative;
			top: 0;

			width: 100%;
			z-index: 10;

			background-color: darken(#F1F6F8, 5);

			.bar {
				background-color: $red;
				box-shadow: 0 0 10px $red;
			}
		}
	}
}
