.work-itm {
    .work_wrapper {
        display: grid; 
        grid-template-rows: 1fr;
        grid-template-areas: ".aa.";
        grid-gap: 20px;
        justify-items: center;
        align-items: center;

        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        img {
            @include until($laptop) {
                max-width: 70%;
            }

            @include until($tablet) {
                max-width: 100%;
            }
        }

        @include until($mobile) {
            display: block;

            position: relative;
            top: 0;
            transform: translate(0, 0);
        }

        .desc_wrapper {
            display: grid;
            grid-gap: 12px;

            @include until($mobile) {
                text-align: left;

                margin-top: 25px;
            }

            h1 {
                font-size: 28px;
                font-weight: 700;

                @include until($mobile) {
                    font-size: 24px;
                }
            }
        }
    }
}