@import "src/sass/settings/mixins";

.repositories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

	margin: 2rem 1rem 2rem;

	text-align: left;

	@include until($ipad) {
		grid-template-columns: 1fr;
	}

  @include until($iphone-7) {
		grid-template-columns: 1fr;

		margin: 0;
  }
}

#open-source > .title > .fa-git-alt {
  font-size: 2.5rem;
  color: var(--git);
}
